body, html{
    padding: 0;
    margin: 0;
}
body{
    color: #FFFFFB;
    text-align: center;
    font-size:1.2rem;
    font-weight: bold;
}

section{
    padding: 30vh 0;
}

.one{
    background-color: #FFC145;
    position:relative;
}

.two{
    background: #FF6B6C;
    position:relative;
    margin-bottom: -10vw;
    z-index: 10;
}

.three{
    background: #5B5F97;
}